body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: blueviolet;
    color: #black;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
}

.game-container {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: white;
}

#results {
    margin-top: 20px;
}

#results h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#results div {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: monospace;
}